<div class="text-center mt-3">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>

<div class="container mt-3">
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <input placeholder="Age from" type="number" [(ngModel)]="userParams.ageMin" class="form-control mt-1" style="width: 110px" id="minAge" name="minAge">
    
    <input placeholder="Age to" type="number" [(ngModel)]="userParams.ageMax" class="form-control ml-1 mt-1" style="width: 110px" id="maxAge" name="maxAge">
  
    <select class="form-control ml-1 mt-1" id="gender" 
      [(ngModel)]="userParams.sex" name="gender">
      <option [ngValue]="null">Any gender</option>
      <option *ngFor="let gender of genderList" [value]="gender.value">
        {{gender.display}}
      </option>
    </select>

    <ng-select 
      style="width: 180px;"
      class="form-control ml-1 mt-1"
      #speakingLanguage
      name="speakingLanguage"
      [items]="speakingLanguages$ | async"
      placeholder="Select language"
      bindLabel="name"
      bindValue="code"
      [loading]="speakingLanguagesLoading"
      [typeahead]="speakingLanguagesInput$"
      [(ngModel)]="userParams.languageSpeakingCode">
    </ng-select>

    <ng-select
      style="width: 180px;"
      class="form-control ml-1 mt-1"
      #country
      name="country"
      [items]="countries$ | async"
      placeholder="Select country"
      bindLabel="name"
      bindValue="isoCode"
      [loading]="countriesLoading"
      [typeahead]="countriesInput$"
      [(ngModel)]="userParams.countryIsoCode"
      (change)="locationChanged('country')">
      <ng-template ng-label-tmp let-item="item">
        <span class="flag-icon flag-icon-{{item.isoCode}}" title="{{item.country}}"></span> {{item.name}}, {{item.continentName}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="flag-icon flag-icon-{{item.isoCode}}" title="{{item.country}}"></span> {{item.name}}, {{item.continentName}}
      </ng-template>
    </ng-select>

    <ng-select
      style="width: 180px;"
      class="form-control ml-1 mt-1"
      #city
      name="city"
      [items]="cities$ | async"
      placeholder="Select city"
      bindLabel="name"
      bindValue="id"
      [loading]="citiesLoading"
      [typeahead]="citiesInput$"
      [(ngModel)]="userParams.cityId"
      (change)="locationChanged('city')">
      <ng-template ng-label-tmp let-item="item">
        <span class="flag-icon flag-icon-{{item.countryIsoCode}}" title="{{item.country}}"></span> {{item.name}}, {{item.country}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="flag-icon flag-icon-{{item.countryIsoCode}}" title="{{item.country}}"></span> {{item.name}}, {{item.country}}
      </ng-template>
    </ng-select>

    <button type="submit" class="btn btn-primary ml-1 mt-1" title="Apply Filters">
      <i class="fa fa-search"></i>
    </button>
    <button type="button" class="btn btn-info ml-1 mt-1" (click)="resetFilters(true)" title="Reset Filters">
      <i class="fa fa-close"></i>
    </button>
  </form>
  
  <br>

  <div class="row">
    <div *ngFor="let user of users" class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
      <app-member-card [user]='user'></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>