<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-sm-8">
          <div *ngIf="editForm.dirty" class="alert alert-info">
            <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.name}}">
          <div class="card-body">
            <div>
              <strong>Location:</strong>
              <ng-select
                form="editForm"
                [items]="cities$ | async"
                placeholder="Select city"
                bindLabel="name"
                [loading]="citiesLoading"
                [typeahead]="citiesInput$"
                [(ngModel)]="user.city"
                [clearable]="false"
                (change)="citySelectionChanged()">
                <ng-template ng-label-tmp let-item="item">
                  <span class="flag-icon flag-icon-{{item.countryIsoCode}}" title="{{item.country}}"></span> {{item.name}}, {{item.country}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span class="flag-icon flag-icon-{{item.countryIsoCode}}" title="{{item.country}}"></span> {{item.name}}, {{item.country}}
                </ng-template>
              </ng-select>
            </div>
            <div>
              <strong>Age:</strong>
              <p>{{user.age}}</p>
            </div>
            <div>
                <strong>Last Active:</strong>
                <p>{{user.lastActive}}</p>
            </div>
            <div>
              <strong>Member Since:</strong>
              <p>{{user.created}}</p>
            </div>
          </div>
          <div class="card-footer">
              <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
              <tab heading="Edit Profile">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                    <h4>Introduction</h4>
                    <textarea name="introduction" rows="6" class="form-control" 
                      [(ngModel)]="user.introduction"></textarea>
                </form>
                    <h4>Speaks</h4>
                    <div class="form-inline">
                      <div class="col-sm-4">
                          <ng-select 
                          name="selectedSpeakingLanguage"
                          [items]="speakingLanguages$ | async"
                          placeholder="Select language"
                          bindLabel="name"
                          [loading]="speakingLanguagesLoading"
                          [typeahead]="speakingLanguagesInput$"
                          [(ngModel)]="selectedSpeakingLanguage">
                        </ng-select>
                      </div>
                      <div class="col-sm-4" *ngIf="(isSpeakingSelected())"> 
                        <ng-select 
                          [items]="levelsOfSpeaking"
                          name="speakingLevel"
                          [(ngModel)]="selectedSpeakingLanguage.levelOfSpeaking">
                        </ng-select>
                      </div>
                      <div class="col-sm-4" *ngIf="(isSpeakingLevelSelected())" >
                          <button class="btn btn-primary w-100" (click)="addSpeakingLanguage()" type="button">Add</button>
                      </div>
                    </div>
                    <ul class="list-inline ml-3">
                      <li *ngFor="let language of user.languagesTheUserSpeaks">
                          <p>{{language.name}}: {{language.levelOfSpeaking}} <i (click)="removeSpeaking(language)" class="fa fa-remove fa-remove-i-btn"></i></p>                        
                      </li>
                    </ul>
                    <h4>Learns</h4>
                    <div class="form-inline">
                      <div class="col-sm-4">
                          <ng-select [items]="learningLanguages$ | async"
                          name="selectedLearningLanguage"
                          placeholder="Select language"
                          bindLabel="name"
                          [loading]="learningLanguagesLoading"
                          [typeahead]="learningLanguagesInput$"
                          [(ngModel)]="selectedLearningLanguage">
                        </ng-select>
                      </div>
                      <div class="col-sm-4" *ngIf="(isLearningSelected())">
                        <ng-select 
                          [items]="levelsOfSpeaking"
                          name="learningLevel"
                          [(ngModel)]="selectedLearningLanguage.levelOfSpeaking">
                        </ng-select>
                      </div>
                      <div class="col-sm-4" *ngIf="(isLearningLevelSelected())">
                          <button class="btn btn-primary w-100" (click)="addLearningLanguage()" type="button">Add</button>
                      </div>
                    </div>
                    <ul class="list-inline ml-3">
                        <li *ngFor="let language of user.languagesTheUserLearns">
                          <p>{{language.name}}: {{language.levelOfSpeaking}} <i (click)="removeLearning(language)" class="fa fa-remove fa-remove-i-btn"></i></p>
                        </li>
                    </ul>
              </tab>
              <tab heading="Edit Photos">
                <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="setMainPhoto($event)"></app-photo-editor>
              </tab>
            </tabset>
        </div>
      </div>
    </div>
  </div>