<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-sm-8">
          <ng-select [items]="cities$ | async"
           bindLabel="name"
           [loading]="citiesLoading"
           [typeahead]="citiesInput$"
           [(ngModel)]="selectedCity">
          </ng-select>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.name}}">
          <div class="card-body">
            <div>
              <strong>Location:</strong>
              <p><span class="flag-icon flag-icon-{{user.city.countryIsoCode}}" title="{{user.city.country}}"></span> {{user.city.name}}, {{user.city.country}}</p>
            </div>
            <div>
              <strong>Age:</strong>
              <p>{{user.age}}</p>
            </div>
            <div>
                <strong>Last Active:</strong>
                <p>{{user.lastActive}}</p>
            </div>
            <div>
              <strong>Member Since:</strong>
              <p>{{user.created}}</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100">Like</button>
              <button class="btn btn-success w-100">Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
              <tab heading="Edit Profile">
                <form>
                    <h4>Introduction</h4>
                    <textarea name="introduction" rows="6" class="form-control" 
                      [(ngModel)]="user.introduction"></textarea>
                    <h4>Speaks</h4>
                    <ul class="list-inline">
                      <li *ngFor="let language of user.languagesTheUserSpeaks"><p>{{language.name}}: {{language.levelOfSpeaking}}</p></li>
                    </ul>
                    <h4>Learns</h4>
                    <ul class="list-inline">
                        <li *ngFor="let language of user.languagesTheUserLearns"><p>{{language.name}}: {{language.levelOfSpeaking}}</p></li>
                    </ul>
                </form>
              </tab>
              <tab heading="Edit Photos">
                <p>Photo edit will go here</p>
              </tab>
            </tabset>
        </div>
      </div>
    </div>
  </div>