.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.table {
    margin-top: 15px;
}

.img-circle.main {
    max-height: 50px;
}

.img-circle.secondary {
    max-height: 20px;
}

td {
    vertical-align: middle;
}

tr:hover {
    background: lightgray;
}

.unread {
    box-sizing: border-box;
    background-color: rgba(173, 216, 230, 0.507);
}